<dialog id="login-dialog">
  <div class="max-w-xs bg-white p-4 rounded">
    <form id="login-form" class=" space-y-4">
      <input required class="border px-4 py-2" name="username" placeholder="Username" id="username" min="4">
      <input type="password" placeholder="Password" name="password" id="password" required class="border px-4 py-2"
        min="6">
      <button class="w-full block bg-purple py-2 text-white">Login</button>

      <div class="text-sm">
        <details>
          <summary>Renew password</summary>
          <p>If you forgot password contact admin or team head.</p>
        </details>
        <details>
          <summary>To get account</summary>
          <p>To get your new account contact admin or team head. Only team members are allowed.</p>
        </details>
      </div>
    </form>
  </div>
</dialog>